/* common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
   background-color: #FD6E0A;
   border: 0;
   color: white;
   padding: 12px 30px;
}
.txt-primary{
    color: #FD6E0A;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    padding: 20px;
font-size: 15px;
font-style: normal;
line-height: normal;
color: #474747;
}
nav h3{
    font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}